<h1>All Tags</h1>

<ul>
	<% @tags.each do |t| %>
	<li>
		<%= link_to t.name, tag_path(t) %>    <%= link_to "Delete", tag_path(t), method: :delete, data: {confirm: "Really delete the tag?"} %>
	</li>
	<% end %>
</ul>